html{
    --font-roboto: 'Roboto', sans-serif;
}
body{
    margin: 0;
    font-family: var(--font-roboto);
}
h1{
    font-weight: 300;
}
h1.name{
        margin: 0 0 120px 50px;
}
a{
    color: white;
    text-decoration: none;
}
p{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Header Classes */
.header{
    background-color: #2D7053;
    max-width: 100%;
    min-width: 751px;
    padding: 47px 38px;
}
.logo{
    display: inline-block;
    border-radius: 999px;
    background-color: #ffffff;
    width: 142px;
    height: 142px;
}
.header-text{
    display: inline-block;
    word-break: keep-all;
    text-transform: capitalize;
    max-width: 100px;
    color: #ffffff;
    font-size: 28px;
    line-height: 35px;
    margin-left: 57px;
}
.burger{
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 30px;
    width: 85px;
}
.line{
    background-color: #ffffff;
    width: 85px;
    height: 13px;
    margin-bottom: 15px;
    border-radius: 50px;
}

/* Banner classes */
.image{
    background-image: url(./img/Background.png);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: color;
    background-size: cover;
    max-width: 100%;
    height: 900px;
}

.button{
    display: inline-block;
    position: relative;
    top: 80%;
    left: 40%;
    background-color: #CB9223;
    width: 342px;
    height: 75px;
    padding: 27px 53px;
    box-sizing: border-box;
}
.button:hover{
    cursor: pointer;
}
.button-two{
    display: inline-block;
    position: relative;
    margin-top: 70px;
    left: 40%;
    background-color: #CB9223;
    width: 342px;
    height: 75px;
    padding: 27px 53px;
    box-sizing: border-box;
}
.button-two:hover{
    cursor: pointer;
}
.button-text{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

/* Block info */
.info-block{
    padding: 90px 38px;
}
.photo{
    display: inline-block;
    width: 255px;
    height: 255px;
    border-radius: 50%;
    background-image: url(./img/154-9254.png);

    /* Нужно добавить:
    
    float: left;
    
    */
}
.info-text{
    display: inline-block;
}
.name-description{
    margin: 0 0 100px 30px;
}

/* Footer classes */
.footer-block{
    background-color: #888888;
    max-width: 100%;
    min-width: 751px;
    padding: 47px 38px;
}
.footer-logo{
    display: inline-block;
    width: 97px;
    height: 97px;
    border-radius: 50%;
    background-color: white;
}
.contacts{
    display: inline-block;
    position: relative;
    float: right;
    bottom: 20px;
}
.adress{
    display: inline-block;
    color: white;
}
.links{
    display: inline-block;
    margin-left: 50px;
}
.link{
    margin-top: 40px;
}