body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.conteiner{
    width: 1024px;
    margin: auto;
}
.cart-conteiner{
    display: inline-block;
    width: 760px;
}
li:hover{
    cursor: pointer;
}
/* Header */

.header-first-level{
    width: 100%;
    background-color: #4bb1c9;
}
.header-first-level span{
    color: #bff2ff;
}
.header-first-level > .conteiner > p{
    display: inline-block;
    font-size: 13px;
    color: white;
    margin:s 15px 20px 15px 0px;
}
.header-first-level > .conteiner > p::after{
    content: "";
    position: relative;
    top: 5px;
    left: 2px;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 2px;
    background-image: url(./Icon/Rectangle\ 4.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.header-first-level > .conteiner > ul{
    display: inline-block;
    float: right;
    margin: 12px 0px 0px 0px;
    padding: 0;
}
.header-first-level > .conteiner > ul > li{
    display: inline-block;
    font-size: 13px;
    color: white;
    margin: 0px 25px 0px 0px;
    padding: 0;
    border-right: 1px white solid;
    padding-right: 25px;
}
.header-first-level > .conteiner > ul > li:last-of-type{
    border: 0;
    margin: 0;
    padding: 0;
}

.header-second-line{
    margin: 20px 0px 20px 0px;
}
.header-second-line > .conteiner > h1{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #656565;
    text-transform: uppercase;
    margin: 0px 70px 0px 0px;
    padding: 0;
}
.header-second-line > .conteiner > ul{
    display: inline-block;
    position: relative;
    bottom: 8px;
    margin: 0;
    padding: 0;   
}
.header-second-line > .conteiner > ul > li{
    display: inline-block;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #656565;
    text-transform: uppercase;
    margin-right: 14px;
    transition: .4s;
}
.header-second-line > .conteiner > ul > li:hover{
    color: #4bb1c9;
    cursor: pointer;
}
/* .search{
    display: inline-block;
    position: relative;
    bottom: 7px;
    width: 180px;
    height: 30px;
    border: 1px #c6c6c6 solid;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #656565;
    padding: 5px 10px;
    margin-left: 80px;
}
.search > span::after{
    content: " ";
    float: right;
    width: 15px;
    height: 15px;
    background-image: url(./Icon/Search.png);
    background-repeat: no-repeat;
    background-size: contain;
} */
input{
    display: inline-block;
    position: relative;
    bottom: 7px;
    width: 180px;
    height: 30px;
    border: 1px #c6c6c6 solid;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #656565;
    padding: 5px 10px;
    margin-left: 80px;
}
input::after{
    content: " ";
    float: right;
    width: 15px;
    height: 15px;
    background-image: url(./Icon/Search.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.header-second-line > .conteiner > img{
    position: relative;
    bottom: -3px;
    margin-left: 9px;
}
#cart{
    margin: 0px 0px 0px 10px;
}
.right{
    float: right;
}

/* Slider */
.slider{
    box-sizing: border-box;
    width: 100%;
    height: 475px;
    background-image: url(./Img/Slider.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 125px;
}
.slider > .conteiner > h2{
    display: table;
    font-family: "Open Sans";
    font-size: 30px;
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px;
    margin: 0px 0px 2px 0px;
}
.slider > .conteiner > h2:last-of-type{
    font-size: 28px;
    font-weight: 700;
}
.slider > .conteiner > .left-arrow{
    display: inline-block;
    left: -80px;
    top: 80px;
    position: relative;
    background-image: url(./Img/Left_arrow.png);
    background-size: contain;
    width: 50px;
    height: 50px;
}
.slider > .conteiner > .right-arrow{
    display: inline-block;
    position: relative;
    float: right;
    right: -80px;
    top: -80px;
    background-image: url(./Img/right_arrow.png);
    background-size: contain;
    width: 50px;
    height: 50px;
}


/* Main */

main{
    margin: 20px 0px 20px 0px;
}
main h3{
    font-size: 24px;
    font-weight: 300;
    color: #656565;
    text-transform: uppercase;
    margin: 0;
}
div[class$="block"]{
    margin-top: 50px;
}
.first-block{
    display: inline-block;
}
.cart{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    width: 233px;
    height: 318px;
    padding: 7px;
    box-shadow: 3px 2px 10px 0px #BFBFBF;
    margin-right: 26px;
    margin-top: 26px;
}
div.cart:nth-child(3n+4){
    margin: 0;
}
.photo{
    width: 100%;
    height: 230px;
    background-color: #eff1f0;
    margin: auto;
    overflow: hidden;
}
.photo img{
    width: 100%;
    mix-blend-mode: multiply;
    margin-top: 35px;
    transition: 1s;
}
.photo img:hover{
    width: 130%;
    position: relative;
    left: -40px;
}
.text{
    display: inline-block;
}
.text > p{
    font-size: 14px;
    color: #464148;
    padding-top: 20px;
    margin: 0;
}
.text > p:last-of-type{
    font-size: 18px;
    color: #7db122;
    padding: 0;
}
/* button{
    display: inline-block;
    position: relative;
    float: right;
    top: 20px;
    border-radius: 50%;
    background-image: url(./Icon/basket.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
} */
/* .cart > img{
    display: inline-block;
    position: relative;
    float: right;
    top: 20px;
} */
.cart > button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #7db122;
    position: relative;
    float: right;
    top: 20px;
}
.new{
    position: absolute;
    left: 125px;
    top: 20px;
    transform: rotate(45deg);
    width: 100px;
    padding: 5px 20px;
    color: white;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #4bb1c9;
}
.sale{
    position: absolute;
    left: -30px;
    top: 20px;
    transform: rotate(-45deg);
    width: 100px;
    padding: 5px 20px;
    color: white;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #7db122;
}
#img4{
    margin-top: 75px;
}
#img5{
    margin-top: 80px;
}
#img6{
    margin-top: 60px;
}
#sale::before{
    content: "$460";
    color: #656565;
    font-size: 14px;
    margin-right: 5px;
    text-decoration: line-through;
}

/* Banners */
.banner-column{
    display: inline-block;
    position: relative;
    float: right;
}
.banner{
    box-sizing: border-box;
    width: 233px;
    margin-top: 32px;
    background-color: white;
    border-top: 4px #4bb1c9 solid;
    box-shadow: 3px 2px 10px 0px #BFBFBF;
}
.banner:nth-child(2){
    padding: 15px;
}
.shadow{
    position: relative;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px #BFBFBF;
    z-index: 3;
}
.banner-content{
    box-sizing: border-box;
    height: 410px;
    overflow: hidden;
    background-image: url(./Img/women.png);
    background-repeat: no-repeat;
    background-position: -100px 60px;
}
.banner-column h3{
    width: 150px;
    text-align: center;
    font-weight: 400;
    margin: 15px auto 0 auto;
}
div[class$="button"]{
    padding: 15px 20px;
    color: white;
    text-align: center;
    font-size: 14px;
}
.first_banner_button{
    width: 100px;
    background-color: #4bb1c9;
    margin: 260px auto 0 auto;
}
.second_banner_button{
    width: 80px;
    background-color: #7db122;
    margin: 20px auto 15px auto;
}
.nav{
    position: relative;
    height: 45px;
    background-color: white;
    text-align: center;
    z-index: 1;
}
.nav-circle:nth-child(1){
    background-color: #4bb1c9;
    margin: 0;
}
.nav-circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    border-radius: 50%;
    background-color: #7db122;
    margin-top: 17px;
}
.banner p{
    font-size: 14px;
    text-align: center;
    color: #464148;
    margin: 20px 0 20px 0;
}
.line{
    height: 1px;
    width: 200px;
    background-color: #ededed;
    margin: 20px 0 20px 0;
}
.input{
    width: 100%;
    height: 25px;
    margin: 20px auto 0 auto;
    border: 1px solid rgba(198,198,198,0.5);
}

/* Footer */

.footer-first-line{
    margin-top: 50px;
    width: 100%;
    background-color: #4cb1ca;
}
footer .conteiner p{
    font-size: 13px;
    color: white;
    margin: 15px 0 5px 0;
}
h4{
    font-size: 21px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    margin: 35px 0 0 0;
}
.footer-first-line h4{
    display: inline-block;
    position: relative;
    bottom: 20px;
    margin: 20px 60px 20px 0;
}
.delivery::before{
    content: "";
    display: inline-block;
    position: relative;
    top: 24px;
    width: 66px;
    height: 65px;
    margin-right: 20px;
    background-image: url(./Icon/Car.png);
}
.call-us::before{
    content: "";
    display: inline-block;
    position: relative;
    top: 24px;
    width: 66px;
    height: 65px;
    margin-right: 20px;
    background-image: url(./Icon/Phone.png);
}

.footer-second-line{
    width: 100%;
    height: 350px;
    background-color: #39a0b9;
    padding-top: 25px;
}
/* .footer-column{
    float: left;
    width: 233px;
    margin-right: 26px;
} */
.footer-column{
    position: relative;
    display: inline-block;
    width: 233px;
    margin-left: 20px;
}
.footer-column:nth-child(1){
    margin-left: 0;
    bottom: 25px;
}
.footer-column:nth-child(2){
    bottom: 15px;
}
.footer-column:nth-child(3){
    margin-left: 39px;
    bottom: 93px;
}
.footer-column:last-child{
    margin-right: 0;
    bottom: 40px;
}
.peoples{
    width: 100%;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    padding: 10px 0;
}
.peoples img{
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 7px;
}
.peoples img:nth-child(4n+4){
    margin-right: 0;
}
.peoples img:nth-child(n+5){
    margin-bottom: 0;
}
.twitter span{
    color: #9ae2f4;
}
.twitter::before{
    content: "";
    display: inline-block;
    float: left;
    width: 43px;
    height: 100px;
    margin-right: 10px;
    background-image: url(./Icon/twitter.png);
    background-repeat: no-repeat;
}
.footer-column ul{
    padding: 0;
    margin: 0;
    list-style-position: inside;
}
.footer-column li{
    list-style-image: url(./Icon/item.png);
    font-size: 13px;
    color: white;
    margin: 10px 0 0 0;
}
.footer-column a{
    font-size: 13px;
    color: white;
    text-decoration: none;
}
.footer-column:last-child p{
    margin-top: 10px;
}
.line:last-child{
    width: 70%;
    margin-top: 25px;
    float: left;
    background-color: #4bb1c9;
}

.footer-last-line{
    background-color: #0b4b5a;
    padding: 20px 0;
}
.conteiner p.copyright{
    display: inline-block;
    color: #8adcf0;
    margin: 0;
}
.footer-last-line ul{
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
}
.footer-last-line li{
    display: inline-block;
    font-size: 13px;
    color: #8adcf0;
    margin: 0px 15px 0px 0px;
    padding: 0;
    border-right: 1px #8adcf0 solid;
    padding-right: 15px;
}
.footer-last-line li:last-of-type{
    border: 0;
    margin: 0;
    padding: 0;
}