body{
    margin: 0;
    padding: 0;
}
main {
    background-color: #f2f2f2;
    width: 700px;
    margin: auto;
    padding: 30px 20px;
}
h2{
    font-family: 'Merriweather';
    font-size: 26px;
    font-weight: 400;
    letter-spacing: .03em;
    color: #531604;
    margin: 20 0 0 0;
    padding: 0;
}
h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    background-image: url(./img/wave.png);
    background-repeat: no-repeat;
}
h3{
    font-family: 'Merriweather';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .03em;
    color: #bb8d3f;
    transition: .3s;
    margin: 0;
    padding: 0;
}
h3:hover{
    color: #989508;
    cursor: pointer;
}
p{
    color: #546670;
    font-family: 'roboto';
    font-size: 15px;
    margin-top: 15px;
    line-height: 24px;
    overflow-wrap: break-word;
}
.position{
    width: 100%;
    margin-top: 0;
}
.img{
    display: inline-block;
    width: 140px;
    height: 100px;
    border-radius: 15%;
    overflow: hidden;
}
.img:hover{
    opacity: .5;
    cursor:crosshair;
}
.content{
    position: relative;
    display: inline-block;
    width: 510px;
    margin-left: 25px;
    bottom: 12px;
}
.cost{
    display: inline-block;
    float: right;
    color: #989508;
}
[class*="item"]{
    display: inline-block;
}
.item1::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 320px;
    height: 2px;
    margin: 0 10px;
}
.item2::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 150px;
    height: 2px;
    margin: 0 10px;
}
.item3::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 200px;
    height: 2px;
    margin: 0 10px;
}
.item4::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 210px;
    height: 2px;
    margin: 0 10px;
}
.item5::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 240px;
    height: 2px;
    margin: 0 10px;
}
.item6::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 200px;
    height: 2px;
    margin: 0 10px;
}
.item7::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 110px;
    height: 2px;
    margin: 0 10px;
}
.item8::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 160px;
    height: 2px;
    margin: 0 10px;
}
.item9::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 190px;
    height: 2px;
    margin: 0 10px;
}
.item10::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 210px;
    height: 2px;
    margin: 0 10px;
}
.item11::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 250px;
    height: 2px;
    margin: 0 10px;
}
.item12::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 180px;
    height: 2px;
    margin: 0 10px;
}
.item13::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 260px;
    height: 2px;
    margin: 0 10px;
}
.item14::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 220px;
    height: 2px;
    margin: 0 10px;
}
.item15::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 210px;
    height: 2px;
    margin: 0 10px;
}
.item16::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 90px;
    height: 2px;
    margin: 0 10px;
}
.item17::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 70px;
    height: 2px;
    margin: 0 10px;
}
.item18::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 290px;
    height: 2px;
    margin: 0 10px;
}