body{
    margin: 0;
    padding: 0;
}
a{
    color: #F4AB64;
    font-size: 17px;
    text-decoration: none;
}

/* ID */

#arrow-left{
    display: inline-block;
    position: relative;
    left: 2%;
    width: 55px;
    height: 55px;
    background-image: url(./img/left-arrow-cir.png);
}
#arrow-right{
    display: inline-block;
    position: relative;
    float: right;
    right: 2%;
    width: 55px;
    height: 55px;
    background-image: url(./img/right-arrow-cir\ .png);
}


/* Header */

header{
    max-width: 100%;
    height: 71px;
    background-color: #8C0A0D;
    padding: 15px 67px;
}

.logo{
    display: inline-block;
    background-image: url(./img/logo.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 13px;
    width: 177px;
    height: 41px;
}
.menu{
    display: inline-block;
    margin-left: 125px;
}
.lang{
    display: inline-block;
    position: relative;
    float: right;
    top: 40px;
}
.flag{
    display: inline-block;
    position: relative;
    top: 5px;
    background-image: url(./img/English.png);
    background-repeat: no-repeat;
    width: 26px;
    height: 18px;
    padding-right: 11px;
}
.lang-item{
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    color: #FBC37A;
}
.item{
    font-size: 14px;
    text-transform: uppercase;
    color: #FBC37A;
    margin-right: 40px;
}
.item:hover{
    cursor: pointer;
    color: #FFE394;
}

/* --Content-- */

main{
    padding: 25px 65px;
    background-image: url(./img/bg.png);
    background-repeat: repeat-y;
    background-size: cover;
    background-color:  rgba(245, 232, 198, 1);
    background-blend-mode: soft-light;
}
.clearfix{
    overflow: auto;
}
h3{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
}
p{
    font-size: 17px;
}
/* Banner classes */
.banner{
    max-width: 100%;
    height: 335px;
    background-image: url(./img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
}
.zag{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 300;
}
.roboto{
    font-family: roboto;
    text-transform: none;
}
.button{
    background-color: #F6CC79;
    border-radius: 10px;
    padding: 11px 16px;
    width: 190px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-left: 41%;
    box-shadow: 0px 6px 0px #BF670D;
    cursor: pointer;
}
.nav{
    text-align: center;
    margin-top: 60px;
}
.circle{
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-left: 8px;
}
.circle-active{
    display: inline-block;
    background-color: #BF670D;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

/* Content blocks classes */

.column{
    width: 280px;
    margin-top: 20px;
    margin-right: 63px;
    float: left;
    margin-bottom: 15px;
    overflow: auto;
}
.column:last-child{
    width: 280px;
    margin-top: 20px;
    margin-right: 0;
    float: right;
    margin-bottom: 15px;
    overflow: auto;
}
.firstline{
    overflow: auto;
}
.secondline{
    overflow: auto;
    width: 100%;
}
/*.text-zag{
    width: 280px;
    margin-top: 20px;
    margin-right: 63px;
    float: left;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
}
.text{
    width: 280px;
    margin-right: 63px;
    float: left;
    font-size: 17px;
}*/
.text-zagright{
    width: 280px;
    margin-top: 20px;
    float: right;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
}
.textright{
    width: 280px;
    float: right;
    font-size: 17px;
}

/* Footer */

footer{
    min-height: 71px;
    background-color: #8C0A0D;
    padding: 25px 65px;
}

.footer-conteiner{
    display: inline-block;
    width: 280px;
    margin-right: 59px;
    color: #F4AB64;
    font-size: 17px;
}
.position{
    position: relative;
    left: 35px;
}
.footer-conteiner-right{
    display: inline-block;
    width: 280px;
    color: #F4AB64;
    font-size: 17px;
}
.facebook{
    position: absolute;
    right: 110px;
    bottom: -130px;
}
.vk{
    position: absolute;
    right: 65px;
    bottom: -130px;
}